<div>
{% if alllist %}                                                

    <div class='mainView'>        
        <div class="showListBox">
            <a class="btn btn-primary setBtn" id="creatbtn">Create New ToDo List</a>
            <div class="loader loderPostion1 loaderHide"></div>
        </div>
        
        <div class="display-6">All List</div>
        {% for l in alllist%}
            <div class="listTitl"><a href='#' class="listname">{{l.listName}}</a></div>                                
        {% endfor%}
    </div>
{% else %}    
    <h1 class='display-5 emptyText'>There are no Todo List</h1>
    <a class="btn btn-primary setBtn" id="creatbtn">Create New ToDo List</a>
{% endif %}
{% csrf_token %}
</div>